@model MyMVC.Models.City

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.name)?</h3>
<div>  
    
    <form asp-action="Delete">
        @Html.HiddenFor(model => model.id)
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
